   *, 
   *::after, *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* ..........cookies section............. */
    .cookie {
        position: fixed;
        width: 450px;
        height: 260px;
        background-color: #d9d9d9;
        color: #3E3E3E;
        padding: 15px;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
        border-radius: 40px;
        bottom: -100px;
        right: 0;
        transform: translateX(-5%);
        transition: bottom 0.8s ease-in-out, opacity 0.8s ease-in-out, filter 0.8s ease-in-out;
        display: flex;
        opacity: 0;
        filter: blur(5px); /*..add blur..*/
        flex-direction: column;
        z-index: 1000;
    }

    .show {
        bottom: 20px;
        opacity: 1;
        filter: blur(0px); /*..delete blur.. */
    }

    .cookie .content {
        font-family: 'montserrat-medium';
        text-align: center;
        max-height: 210px;
        overflow-y: auto;
        padding-right: 10px;
        background-color: #F2EEEE;
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    /* ........scrollbar width......... */
    .cookie .content::-webkit-scrollbar {
        width: 4px;
        max-height: 50px;
    }

    /* ......cursor color....... */
    .cookie .content::-webkit-scrollbar-thumb {
        background: #131C46;
        border-radius: 10px;
    }
    
    /* .........scrollbar background...... */
    .cookie .content::-webkit-scrollbar-track {
        background: #fff;
        margin: 20px 0;
    }

    .cookie .buttons {
        display: flex;
        justify-content: space-around;
    }

    .cookie button {
        background-color: #131C46;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
        border-radius: 20px 0 0 20px;
    }
    
    .cookie button.reject {
        background-color: #3E3E3E;
        border-radius: 0 20px 20px 0;
    }

    .cookie button:hover {
        background-color: #F2EEEE;
        color: #3E3E3E;
        
    }



    /* .............hero section............. */
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2.5rem;
        position: relative;
        padding-bottom: 25em;
        padding-top: 10rem;
        font-size: 0.6rem;
    }

    /*.......background video....... */
    .video_container {
        position: absolute;
        inset: 0;
        z-index: -10;
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(100%) saturate(50%);
    }

    /*............navigation...... */
    .header_nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 80px;
        padding: 1rem 5rem;
        color: #131C46;
        text-align: center;
        position: fixed;
        top: 0;
        z-index: 50;
        transition: background-color 0.3s ease-in-out;
        background-color: transparent;
        cursor: pointer;
    }

    .header_nav:hover {
        background-color: #d9d9d9;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);

    }

    .header_logo {
        align-self: center;
        flex-shrink: 0;
        transition: transform 0.3s ease;
        text-decoration: none;
    }

    .header_logo img {
        height: 80px;
        width: 180px;
    }


    /*.......navigation links........*/
    .header_menu {
        display: flex;
        gap: 2rem;
        align-self: center;
        list-style-type: none;
    }

    .header_menu a {
        font-family: 'montserrat-semibold';
        font-size: 20px;
        color: #131C46;
        text-decoration: none;
        justify-content: center;
        align-items: center;
    }


    /* ........hero title.......... */
    header h1 {
        font-family: 'montserrat-extrabold';
        font-size: 3rem;
        color: white;
        font-weight: bold;
    }

    header h1 span {
        font-size: 2.6em;
        color: #131C46;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-color: #131C46;
        text-underline-offset: 16px;
    }


    .hero_step {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.7);
        margin-top: 1rem;
        color: white;
        width: fit-content;
        align-self: center;
        box-shadow: 0 0 10px black;
        border-radius: 30px;
    }

    .hero_step p {
        font-family: 'montserrat-medium';
        font-size: 1.2rem;
        width: 45ch;
        padding: 1.25rem;
    }

    /*........search form.......... */
    .search {
        display: flex;
        align-self: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: fit-content;
        gap: 1rem;
        border-radius: 50px;
    }

    .search p {
        font-family: 'montserrat-medium';
        font-size: 1rem;
        padding: 0.9rem 1.5rem;
    }

    .search form {
        display: flex;
        gap: 1rem;
        font-size: 1rem;
        align-items: center;
    }

    .search_input {
        font-family: 'montserrat-medium';
        background: rgba(0, 0, 0, 0);
        border: 0;
        color: #fff;
        padding: 0.5rem 0rem;
        width: 110px;
    }

    .search_input:focus {
        outline: none;
        border-bottom: #fff 1px solid;
    }

    .search_button {
        font-family: 'montserrat-bold';
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
        background-color: #FFF ;
        color: #333;
        border: 0;
        transition: background-color 0.3s ease-in-out;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
    }

    .search_button:hover {
        background-color: #131C46;
        color: #fff;
    }


    /* ..........travel_plan container..... */
    .travel_plan {
        display: flex;
        align-self: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        width: fit-content;
        padding-left: 0.8rem;
        gap: 1rem;
        border-radius: 50px;
    }

    .travel_menu {
        display: inline-block;
        position: relative;
    }

    .menuButton {
        font-family: 'montserrat-medium';
        font-size: 1rem;
        background: rgba(0, 0, 0, 0);
        width: 100px;
        border: 0;
        color: #fff;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
    }


    .menuButton:hover {
        border-top: #fff 1px solid;
    }

    /* .....expanded menu....... */
    .menu {
        position: absolute;
        left: 0;
        z-index: 10;
        transform-origin: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 20px;
    }

    /* ........hide menu from travel plan....... */
    .hidden {
        visibility: hidden;
    }

    .menu a {
        display: block;
        padding: 0.5rem;
        font-family: 'montserrat-medium';
        font-size: 1rem;
        color: #fff;
        text-align: center;
        text-decoration: none;
    }

    .menu a:hover {
        background-color: #fff;
        color: #333;
        border-radius: 20px;
        
    }

    .plan_button {
        font-family: 'montserrat-bold';
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
        background-color: #FFF ;
        color: #333;
        border: 0;
        transition: background-color 0.3s ease-in-out;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
    }

    .plan_button:hover {
        background-color: #131C46;
        color: #fff;
    }


    /* ..........Destination section............ */
    #destination {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        width: 100%;
        margin: 140px auto;
    }

    #destination h2 {
        font-family: 'montserrat-extrabold';
        font-size: 4rem;
        color: #131C46;
    }
    .box_destinations {
        max-width: 1100px;
        background-color: #d9d9d9;
        padding: 60px;
        margin: 90px auto 40px;
        border-radius: 100px;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
    }

    .box_destinations h4 {
        font-family: 'montserrat-bold';
        font-size: 1.6rem;
        color: #131C46;
        margin-bottom: 80px;
    }

    .destination_card {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }

    .destination_card:nth-child(3) {
        margin: 100px 0;
    }

    .flip-front img {
        width: 500px;
        border-radius: 50px;
        box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .destination_place {
        width: 400px;
        background-color: #d9d9d9;
        padding: 20px;
        border-radius: 20px;
        text-decoration: none;
    }

    .destination_place a {
        text-decoration: none;
    }

    .destination_place h4 {
        font-family: 'montserrat-bold';
        font-size: 1.8rem;
        color: #131C46;
        margin-bottom: 30px;
    }

    .destination_place p {
        font-family: 'montserrat-medium';
        font-size: 1.2rem;
        text-align: justify;
        color: #3E3E3E;
        background-color: #F2EEEE;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
    }

    .destination_place p strong {
        font-family: 'poppins-semibold';
        color: #131C46; 
    }

    .arrow_space_right{
        margin-right: 10rem; 
        font-size: 2.5rem;
    }

    .arrow_space_left{
        font-size: 2.5rem;
        margin-left: 10rem;
    }

    /* ...........rotation zone............. */
    .perspective {
        perspective: 1000px;
    }
    
    .flip-inner {
        transform-style: preserve-3d;
        transition: transform 0.7s;
        position: relative;
        width: 500px;
        height: 330px;
    }
    
    .flip-card:hover .flip-inner {
        transform: rotateY(180deg);
    }

    .flip-front,
    .flip-back {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .flip-back {
        transform: rotateY(180deg);
    }

    /* ........map view main page........... */
    .maptour {
        width: 500px;
        height: 330px;
        border-radius: 50px;
        box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }



    /* ..........advise section............. */
    #advice {
        display: flex;
        width: 100%;
        max-width: 800px;
        margin: 100px auto;
    }

    .practical_advice {
        width: 200px;
        height: 200px;
        background-color: #d9d9d9;
        border-radius: 180px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: flex;  
        align-items: center;   
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
        transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275); /*Ease with light ease-bounce */
        animation: ease-bounce 0.5s ease-out infinite;
    }

    @keyframes ease-bounce {
        0%, 100% {
            transform: scale(1.05);
        }
        50% {
            transform: scale(1.1);
        }
    }

    /* ......Expanded width (640px with scale= 800px)......... */
    .practical_advice:hover {
        transform: scale(1.25);
        margin-left: 80px;
        width: 640px;
        animation: none;
    }

    .advice_title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 190px;
        transition: all 0.5s ease;
    }

    .advice_title h4 {
        font-size: 1.7rem;
        font-family: 'montserrat-bold';
        color: #131C46;
        text-align: center;
        transition: all 0.5s ease;
    }

    /* ......hide advice content....... */
    .advice_content {
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        padding: 19px 16px 13px 0;
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    /* ......unhide advice content......... */
    .practical_advice:hover .advice_content {
        max-width: 432px;
        opacity: 1;
    }

    .advice_content p {
        font-family: 'poppins-medium';
        color: #3E3E3E;
        line-height: 1.5;
        font-size: 0.9rem;
        margin-bottom: 10px;
        opacity: 0;
        transform: translateX(100px);
        transition: all 0.5s ease;
        transition-delay: 0.3s;
    }

    .advice_content p:nth-child(2) {
    transition-delay: 0.5s;
    }

    .advice_content p:nth-child(3) {
    transition-delay: 0.7s;
    }

    .practical_advice:hover .advice_content p {
    opacity: 1;
    transform: translateX(0);
    }



    /* ..........Blog section............. */
    #blog {
        padding: 80px;
        width: 100%;
        background-color: #d9d9d9;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
    }

    #blog h3 {
        color: #333;
        font-family: 'montserrat-extrabold';
        font-size: 45px;
        font-weight: 800;
        text-align: center;
    }

    .blog_content {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .blog_content p {
        padding-top: 30px;
        font-family: 'poppins-medium';
        font-size: 18px;

    }


    /* ........services section............ */
      #services {
        text-align: center;
        margin: 80px auto;
        width: 100%;
        max-width: 1100px;
    }
    
    #services h3 {
        color: #131c46;
        font-family: 'montserrat-extrabold';
        font-size: 56px;
        font-weight: 700;
        padding: 30px;
    }

    .box_services_A {
        gap: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .box_services_B {
        gap: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .service {
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 170px;
        gap: 10px;
        border-radius: 20px;
        background-color: #d9d9d9;
        margin-top: 50px;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
        padding: 15px;
    }
    
    .service_content {
        width: 320px;
        height: 110px;
        margin: auto;
    }
    
    .service_content h5 {
        color: #333;
        font-family: 'montserrat-bold';
        font-size: 20px;
    }
    
    .service_content p {
        font-family: 'montserrat-medium';
        font-size: 18px;
        border-radius: 15px;
        font-weight: 500;
        color: #3E3E3E;
        background-color: #F2EEEE;
        line-height: 25px;
        padding: 5px;
        margin-top: 10px;
        box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
    }
    
    .service img {
        width: 150px;
        height: 130px;
        border-radius: 20px;
        box-shadow: 1px 5px 5px;
        margin: auto;
    }


    /* ........customer reviews section............ */
      #customer_reviews {
        text-align: center;
        margin: 150px auto;
        width: 100%;
    }
    
    #customer_reviews h3 {
        color: #131c46;
        font-family: 'montserrat-extrabold';
        font-size: 46px;
        font-weight: 700;
        line-height: 30px;
    }

    .box_reviews {
        gap: 50px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .review {
        max-width: 220px;
        max-height: 350px;
        align-items: center;
        gap: 30px;
        border-radius: 20px;
        background-color: #d9d9d9;
        padding: 12px;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
    }
    
    .review_content {
        align-self: auto;
        margin: auto;
    }
    
    .review_content h5 {
        color: #333;
        font-family: 'montserrat-bold';
        font-size: 20px;
    }
    
    .review_content p:nth-child(2) {
        font-size: 15px;
        padding: 5px;
    }
    
    .review_content p:nth-child(3) {
        font-family: 'montserrat-medium';
        font-size: 18px;
        border-radius: 15px;
        font-weight: 500;
        color: #3E3E3E;
        background-color: #F2EEEE;
        line-height: 25px;
        padding: 5px;
        margin: auto;
        box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
    }
    
    .review img {
        width: 150px;
        height: 130px;
        border-radius: 20px;
        border:  #F2EEEE solid;
        box-shadow: 1px 5px 5px;
        margin-bottom: 5px;
    }
  
   /* .................Contact section................ */
    #contact {
        background-color: #d9d9d9;
        position: relative;
        z-index: 10;
        display: flex;
        width: 100%;
        padding: 70px 0;
        flex-direction: column;
    }
    
    #contact h2 {
        color: #333;
        font-family: 'montserrat-extrabold';
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }

    #contact h2 span {
        font-family: 'montserrat-bold';
        font-size: 28px;
        color: #3e3e3e;
    }

    .contact_form {
        align-items: center;
        margin: 50px auto 0;
        border-radius: 20px;
        background-color: #fff;
        width: 550px;
        border-collapse: collapse;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);

    }
    
    .message {
        margin-top: 10px;
        width: 550px;
        font-family: 'montserrat-bold';
        font-size: 20px;
        color: #3f3e3e;
        font-weight: 600;
        text-align: center;

    }
    
    .message textarea {
        border-radius: 25px 25px 0 25px;
        font-family: 'montserrat-medium';
        font-size: 18px;
        width: 540px;
        height: 100px;
        border: none;
        resize: none;
        padding: 10px;
        margin-top: 2px;
    }

    .message textarea:focus {
        outline: none;
        border: #131c46 1px solid;
    }

    .email input:focus {
        outline: none;
        border-top: #131c46 1px solid;
    }

    
    .email {
        border-radius: 0 0 20px 20px;
        align-self: center;
        display: flex;
        width: 550px;
        flex-wrap: nowrap;
    

    }
    
    .email input {
        border-radius: 20px 20px 0;
        color: #3f3e3e;
        font-family: 'montserrat-medium';
        font-size: 18px;
        font-weight: 400;
        margin: auto 5px;
        width: 420px;
        padding: 10px 15px;
        border: none;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.09);
    }
    
    /* ........contact send button......... */
    .send_button {
        border-radius: 20px 0 20px 0;
        background-color: #3e3e3e;
        padding: 9px 20px;
        font-size: 20px;
        color: #fff;
        font-family: 'montserrat-bold';
        font-weight: 700;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .send_button:hover {
        background-color: #131c46;
    }
    

    /* ......................Footer......................*/
    footer {
        background-color: #d9d9d9;
        display: flex;
        width: 100%;
        padding: 70px 0 10px;
        align-items: center;
        gap: 80px;
        flex-direction: column;
    }

    .footer_for_all {
        display: flex;
        gap: 50px;
    }

    .footer_menu_logo {
        gap: 50px;
    }
    
    .footer_menu {
        display: flex;
        text-align: left;
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    

    
    .footer_menu h3, .footer_logo_links h3 {
        color: #333;
        font-family: 'montserrat-bold';
        font-size: 20px;
        font-weight: 700;
        text-align: start;
    }
    
    .footer_links {
        list-style-type: none;
        width: 100%;
        color: #3e3e3e;
        font-family: 'montserrat-medium';
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 10px;
        text-wrap: nowrap;
    }

   .footer_text {
        color: #3e3e3e;
        font-family: 'montserrat-medium';
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 10px;
    }

    .footer_links a, .footer_text a, .rights a{
        color: inherit;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .footer_links a:hover, .footer_text a:hover, .rights a:hover {
        color: #131c46;
        font-weight: 800;
    }
   

    /* .....space between contact and partners...... */
    .footer_menu figure figcaption:last-child {
        margin-top: 25px;
    }
    
    .footer_logo_links {
        display: flex;
        min-width: 240px;
        margin-top: 10px;
        align-items: center;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .social_logo {
        max-width: 45px;
        max-height: 45px;
        color: #3e3e3e;
        object-position: center;
        margin: auto 0;
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }

    .travel_logo {
        height: 100px;
        width: 200px;
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }

    .footer_logo_links img {
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }
    
    /* ......scale animation for interative elements....... */ 
    .social_logo:hover, 
    .footer_logo_links img:hover {
        transform: scale(1.2);
    }

    
    .about_us h2 {
        font-family: 'montserrat-bold';
        font-size: 38px;
        color: #333;
        margin: -10px 0 10px;
    }

    .about_us p {
        font-family: 'poppins-medium';
        font-size: 15;
        color: #3e3e3e;
        line-height: 28px;
        text-align: justify;
        width: 360px;
    }
    
    .rights a {
        color: #3e3e3e;
        font-family: 'montserrat-regular';
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }


