   *, 
   *::after, *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
   }


    /* ..........advise section............. */
    #advise {
        margin: 80px;
        height: 300px;
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: row;

        align-items: center;
    }

    .advise_title {
        width: 250px;
        height: 250px;
        background-color: #d9d9d9;
        text-align: center;
        border-radius: 180px;
        cursor: pointer;
        position: absolute; 
        margin: 80px;
    }

    .advise_title h4 {
        font-family: 'montserrat-bold';
        font-size: 30px;
        color: #131c46;
        margin: 80px auto;
    }

    .advise_content {
        display: none;
        width: 950px;
        height: 250px;
        background-color: #d9d9d9;
        text-align: left;
        padding: 10px 50px 10px 250px;
        border-radius: 180px;
        margin-left: 450px;
    }

    .advise_content p {
        font-family: 'poppins-medium';
        font-size: 18px;
        color: #3E3E3E;
        padding-bottom: 8px;

    }

    .advise_title:hover+.advise_content,
    .advise_content:hover {
        display: block;
    }




    /* ..........Blog section............. */
    #blog {
        padding: 80px;
        width: 100%;
        background-color: #d9d9d9;
    }

    #blog h3 {
        color: #333;
        font-family: 'montserrat-extrabold';
        font-size: 45px;
        font-weight: 800;
        text-align: center;
    }

    .blog_content {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .blog_content p {
        padding-top: 30px;
        font-family: 'poppins-medium';
        font-size: 18px;

    }


    /* ........services section............ */
      #services {
        text-align: center;
        margin: 80px auto;
        width: 100%;
        max-width: 1100px;
    }
    
    #services h3 {
        color: #131c46;
        font-family: 'montserrat-extrabold';
        font-size: 56px;
        font-weight: 700;
        padding: 30px;
    }

    .box_services_A {
        gap: 100px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .box_services_B {
        gap: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .service {
        display: flex;
        flex-direction: row;
        width: 500px;
        height: 170px;
        gap: 10px;
        border-radius: 20px;
        background-color: #d9d9d9;
        margin-top: 50px;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
        padding: 15px;
    }
    
    .service_content {
        width: 320px;
        height: 110px;
        margin: auto;
    }
    
    .service_content h5 {
        color: #333;
        font-family: 'montserrat-bold';
        font-size: 20px;
    }
    
    .service_content p:nth-child(2) {
        font-family: 'montserrat-medium';
        font-size: 18px;
        border-radius: 15px;
        font-weight: 500;
        color: #3E3E3E;
        background-color: #F2EEEE;
        line-height: 25px;
        padding: 5px;
        margin-top: 10px;
        box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
    }
    
    .service img {
        width: 150px;
        height: 130px;
        border-radius: 20px;
        box-shadow: 1px 5px 5px;
        margin: auto;
    }


    /* ........customer reviews section............ */
      #customer_reviews {
        text-align: center;
        margin: 150px auto;
        width: 100%;
    }
    
    #customer_reviews h3 {
        color: #131c46;
        font-family: 'montserrat-extrabold';
        font-size: 46px;
        font-weight: 700;
        line-height: 30px;
    }

    .box_reviews {
        gap: 50px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        margin-top: 80px;
    }

    .review {
        max-width: 220px;
        max-height: 350px;
        align-items: center;
        gap: 30px;
        border-radius: 20px;
        background-color: #d9d9d9;
        padding: 12px;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);
    }
    
    .review_content {
        align-self: auto;
        margin: auto;
    }
    
    .review_content h5 {
        color: #333;
        font-family: 'montserrat-bold';
        font-size: 20px;
    }
    
    .review_content p:nth-child(2) {
        font-size: 15px;
        padding: 5px;
    }
    
    .review_content p:nth-child(3) {
        font-family: 'montserrat-medium';
        font-size: 18px;
        border-radius: 15px;
        font-weight: 500;
        color: #3E3E3E;
        background-color: #F2EEEE;
        line-height: 25px;
        padding: 5px;
        margin: auto;
        box-shadow: 1px 5px 7px rgba(0, 0, 0, 0.3);
    }
    
    .review img {
        width: 150px;
        height: 130px;
        border-radius: 20px;
        border:  #F2EEEE solid;
        box-shadow: 1px 5px 5px;
        margin-bottom: 5px;
    }
  
   /* .................Contact section................ */
    #contact {
        background-color: #d9d9d9;
        position: relative;
        z-index: 10;
        display: flex;
        width: 100%;
        padding: 70px 0;
        flex-direction: column;
    }
    
    #contact h2 {
        color: #333;
        font-family: 'montserrat-extrabold';
        font-size: 40px;
        font-weight: 800;
        text-align: center;
    }

    #contact h2 span {
        font-family: 'montserrat-bold';
        font-size: 28px;
        color: #3e3e3e;
    }

    .contact_form {
        align-items: center;
        margin: 50px auto 0;
        border-radius: 20px;
        background-color: #fff;
        width: 550px;
        border-collapse: collapse;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.2);

    }
    
    .message {
        margin-top: 10px;
        width: 550px;
        font-family: 'montserrat-bold';
        font-size: 20px;
        color: #3f3e3e;
        font-weight: 600;
        text-align: center;

    }
    
    .message textarea {
        border-radius: 25px 25px 0 25px;
        font-family: 'montserrat-medium';
        font-size: 18px;
        width: 540px;
        height: 100px;
        border: none;
        resize: none;
        padding: 10px;
        margin-top: 2px;
    }

    .message textarea:focus {
        outline: none;
        border: #131c46 2px solid;
    }

    .email input:focus {
        outline: none;
        border-top: #131c46 2px solid;
    }

    
    .email {
        border-radius: 0 0 20px 20px;
        align-self: center;
        display: flex;
        width: 550px;
        flex-wrap: nowrap;
    

    }
    
    .email input {
        border-radius: 20px 20px 0;
        color: #3f3e3e;
        font-family: 'montserrat-medium';
        font-size: 18px;
        font-weight: 400;
        margin: auto 5px;
        width: 420px;
        padding: 10px 15px;
        border: none;
        box-shadow: 2px 4px 32px 5px rgba(0, 0, 0, 0.09);
    }
    
    /* ........contact send button......... */
    .send_button {
        border-radius: 20px 0 20px 0;
        background-color: #3e3e3e;
        padding: 9px 20px;
        font-size: 20px;
        color: #fff;
        font-family: 'montserrat-bold';
        font-weight: 700;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .send_button:hover {
        background-color: #131c46;
    }
    

    /* ......................Footer......................*/
    footer {
        background-color: #d9d9d9;
        display: flex;
        width: 100%;
        padding: 70px 0 10px;
        align-items: center;
        gap: 80px;
        flex-direction: column;
    }

    .footer_for_all {
        display: flex;
        gap: 50px;
    }

    .footer_menu_logo {
        gap: 50px;
    }
    
    .footer_menu {
        display: flex;
        text-align: left;
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    

    
    .footer_menu h3, .footer_logo_links h3 {
        color: #333;
        font-family: 'montserrat-bold';
        font-size: 20px;
        font-weight: 700;
        text-align: start;
    }
    
    .footer_links {
        list-style-type: none;
        width: 100%;
        color: #3e3e3e;
        font-family: 'montserrat-medium';
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 10px;
        text-wrap: nowrap;
    }

   .footer_text {
        color: #3e3e3e;
        font-family: 'montserrat-medium';
        font-size: 17px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 10px;
    }

    .footer_links a, .footer_text a, .rights a{
        color: inherit;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    
    .footer_links a:hover, .footer_text a:hover, .rights a:hover {
        color: #131c46;
        font-weight: 800;
    }
   

    /* .....space between contact and partners...... */
    .footer_menu figure figcaption:last-child {
        margin-top: 25px;
    }
    
    .footer_logo_links {
        display: flex;
        min-width: 240px;
        margin-top: 10px;
        align-items: center;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .social_logo {
        max-width: 45px;
        max-height: 45px;
        color: #3e3e3e;
        object-position: center;
        margin: auto 0;
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }

    .travel_logo {
        height: 100px;
        width: 200px;
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }

    .footer_logo_links img {
        flex-shrink: 0;
        transition: transform 0.3s ease;
    }
    
    /* ......scale animation for interative elements....... */ 
    .social_logo:hover, 
    .footer_logo_links img:hover {
        transform: scale(1.2);
    }

    
    .about_us h2 {
        font-family: 'montserrat-bold';
        font-size: 38px;
        color: #333;
        margin: -10px 0 10px;
    }

    .about_us p {
        font-family: 'poppins-medium';
        font-size: 15;
        color: #3e3e3e;
        line-height: 28px;
        text-align: justify;
        width: 360px;
    }
    
    .rights a {
        color: #3e3e3e;
        font-family: 'montserrat-regular';
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
    }


