@config "./tailwind.config.js";


@import "tailwindcss";

.perspective {
    perspective: 1000px;
  }
  .flip-inner {
    transform-style: preserve-3d;
    transition: transform 0.7s;
    position: relative;
  }
  .flip-card:hover .flip-inner {
    transform: rotateY(180deg);
  }
  .flip-front,
  .flip-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .flip-back {
    transform: rotateY(180deg);
  }


  .practical_advice {
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275); /*Ease with light bounce */
    animation: ease-bounce 0.5s ease-out infinite;
  }

  @keyframes ease-bounce {
    0%, 100% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1.1);
    }
  }

  /* ......Expanded width (640px with scale= 800px)......... */
  .practical_advice:hover {
    transform: scale(1.25);
    margin-left: 80px;
    width: 640px;
    animation: none;
  }

  .advice_content {
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  /* ......unhide advice content......... */
  .practical_advice:hover .advice_content {
    max-width: 432px;
    opacity: 1;
  }

  .advice_content p {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.5s ease;
    transition-delay: 0.3s;
  }

  .advice_content p:nth-child(2) {
    transition-delay: 0.5s;
  }

  .advice_content p:nth-child(3) {
    transition-delay: 0.7s;
  }

  .practical_advice:hover .advice_content p {
    opacity: 1;
    transform: translateX(0);
  }


  /* Carroussel */
  .carousel-media {
    width: 60%;
    position: relative;
  }
  
  .carousel-images {
    position: relative;
    height: 80%;
    overflow: hidden;
  }
  
  .carousel-images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  
  .carousel-images img.active {
    opacity: 1;
  }

  body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  #map {
    flex: 1;
  }

  #nav-items {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    background: #f5f5f5;
    border-bottom: 1px solid #ccc;
    overflow-x: auto;
    justify-content: center;
  }

  #nav-items button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }

  #nav-items button:hover {
    background: var(--color-blue-950) ;
    transform: scale(1.25);
    color: white;
  }

  #legend {
    padding: 0.5rem 1rem;
    background: #e8e8e8;
    border-top: 1px solid #ccc;
  }

  .legend-item {
    margin-bottom: 0.5rem;
  }

  #info-panel h2 {
  margin: 0 0 0.5rem 0;
  }

  #info-panel p {
  margin: 0.5rem 0 0 0;
  }

  #nav-items .tour-button {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation
  }

  #nav-items .tour-button:hover {
    background: var(--color-blue-950) ;
    transform: scale(1.25);
    color: white;
  }
